<% comments.each do |comment| %>
  <div class="text-center mb-4" style="display: flex;">
    <%= attachment_image_tag comment.user, :profile_image, fallback: "no_image.jpg", size: '40x40', class: "rounded-circle" %>
    <div class="ml-4">
      <%= comment.user.name %>
    </div>
    <div class="ml-4">
      <%= comment.comment %>
    </div>
    <% if comment.user_id == current_user.id %>
    <%= link_to "削除", post_comment_path(post,comment), method: :delete, remote: true, "data-confirm" => t('comments.create.delete_confirm'), class: "btn-sm btn-danger ml-4" %>
    <% end %>
  </div>
<% end %>

