<div class="container">
  <div class="row main-row">
    <div class="col-10">
      <h2 class="d-flex fustify-content-start title">商品編集</h2>
      <%= render "admin/shared/error_messages", resource: @skinitem %>
    </div>
  </div>
</div>