<div class="container">
  <div class="row main-row">
    <div class="col-12 mx-auto">
      <h2 class="title mt-3"><strong>商品詳細ページ</strong></h2>
      <%= render partial: "layouts/description", locals: {skinitem: @skinitem} %>
          <%= link_to "削除", admin_skinitem_path(@skinitem), method: :delete, data: { confirm: "削除しますか？" }, class: "btn btn-success mt-3 ml-3 float-right" %>
          <%= link_to "編集する", edit_admin_skinitem_path(@skinitem), class: "btn btn-success mt-3 float-right" %>
    </div>
  </div>
</div>
