<section class="text-center py-5">
      <h1 class="fw-bold mb-3">Aboutページ</h1>
</section>

    <section class="section2 d-flex justify-content-center">
      <%= image_tag 'good-skin-club-SvWhF_P8lho-unsplash 2.jpg', size: '300x300', class: 'mr-5' %>
      <%= image_tag 'good-skin-club-SvWhF_P8lho-unsplash 2.jpg', size: '300x300', class: 'mr-5' %>
      <%= image_tag 'good-skin-club-SvWhF_P8lho-unsplash 2.jpg', size: '300x300' %>
    </section>
