<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="about-contents text-center pt-5">
        <h1 class="mb-5 about font-weight-bold">メンズスキンケアレビューサイト</h1>
        <h3>
          当サイトは、男性向けの美容・スキンケア製品に関する情報を網羅的に提供し、<br>
          ユーザーが最適な製品を選択できるよう、使いやすいサイトを目指しています。<br>
          当サイトの主な目的は、男性が自信を持って肌ケアに取り組む手助けとなることです。<br>
          またユーザーが自分の肌に合ったスキンケア製品を見つけ、同時に他の利用者たちと有益な情報を共有できる場を提供しています。<br>
          自分と他ユーザーの豊かな情報でユーザーの肌ケアをより良くするお手伝いします。<br><br>

          一人でも多くの人が綺麗な肌を手に入れるよう協力し合いましょう！
        </h3>
      </div>
    </div>
  </div>
</div>