// 変数のカスタマイズ

$success: #4f4d4a;
$warning: #2e2b29;
$dark: #2e2b29;
$info: #061656;


// SCSSをインポート
@import '~bootstrap/scss/bootstrap';


/* 背景色を指定 */
body {
  background-color: #b8b9b6; 
  // min-height: ;
}

main{
  min-height: 900px;
}

footer {
  position: sticky;
  margin-bottom: 0px;
  top: 100vh;
  width: 100%;
  height: 80px;
}

// user 一覧
.text-card-container {
  padding-left: 9px;
  padding-right: 9px;
  margin-bottom: 50px;
}

.content-card {
  height: 390px;
  max-width: 360px;
  margin: 0 auto;
}

.round-img {
  width: 350px;
　height: 360px;
}

// マイページ
.profile-wrap{
  margin:40px 0px;
}

.round-img{
  border-radius:50%;
  width: 120px;
  height: 120px;
}

.edit-profile-btn {
  margin: 15px 0 0 15px;
  font-weight: bold;
  height: 26px;
  line-height: 26px;
  padding: 0 26px;
  border-color: #dbdbdb;
  font-size: 14px;
}



.card-img-top{
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius:50%;
}



.post-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.post-card {
  width: 200px;
  margin: 10px;
}

.post-card-content {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 0 0 5px 5px;
}

.post-card-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.post-card-link {
  text-decoration: none;
  color: #3498db;
  display: block;
}

//良いね機能
.like-btn {
 width: 25px;
 height: 30px;
 font-size: 20px;
 color: #808080; 
 }

.unlike-btn {
 width: 25px;
 height: 30px;
 font-size: 20px;
 color: #e54747;
 }