<div class="container">
  <div class="row main-row">
    <div class="col-10 mx-auto">
      <h2 class="title mt-3"><strong>商品詳細ページ</strong></h2>
      <div class="d-flex" style="flex-direction: row-reverse;">
      <%= link_to '戻る', 'javascript:history.back()', class: 'btn btn-info' %>
      </div>
      <%= render partial: "layouts/description", locals: {skinitem: @skinitem} %>
    </div>
  </div>
</div>
