<div class="container">
  <div class="row">
    <div class="col-12">
      <h3 class="p-3 text-center bg-secondary text-light title"><strong>本当に退会しますか？</strong></h3>
        <div class="mt-5 text-center">
          <h5>退会すると、会員登録情報や</h5>
          <h5>これまでの投稿が全て削除されます。</h5>
          <h5>退会する場合は、「退会する」をクリックしてください。</h5>
        </div>
      <div class="mt-5 text-center">
      <%= link_to "退会しない",customers_path,class: "btn btn-primary mr-5" %>
      <%= link_to "退会する",cancellation_customers_path,method: :patch,class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>
