<div class="container">
  <div class="row main-row">
    <div class="col-12">
     <h1 class="col-5 text-center title mt-4"><strong>Review User 一覧画面</strong></h1>
       <div class="base-container mw-xl">
        <div class="texts-wrapper">
          <div class="contents-title text-center">
            <div class="justify-content-center">
              <div class="card-deck"><!--カード型デザインの横並びになっている要素の高さ調整を自動化-->
                <% @users.each do |user| %>
                  <div class="text-card-container">
                    <div class="card content-card border-dark"><!--カードに黒枠を追加-->
                        <div class="card-header p-0">
                        <%= link_to user_path(user) do %>
                        <%= attachment_image_tag user, :profile_image, fallback: "no_image.jpg", class: "card-img-top" %>
                        <% end %>
                        </div>
                        <div class="card-body d-flex align-items-center">
                        <div> 
                          <p class="card-title text-left" style="font-weight: bold; font-size: 1.2em;"><%= link_to user.name, user_path(user) %></p><!--テキストタイトルを左寄せ-->
                          <p class="card-title text-left">投稿数：</p>
                        </div>  
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
     </div>
   </div>
</div>

