<div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="mt-4"><strong> マイページ</strong></h1>
      </div>
    </div>
  </div>
</div>


<section class="section">
  <div class="container">
    <div class="justify-content-center">
      <div class="row">
        <div class="col-md-4 mt-4 ml-4">
        <%= attachment_image_tag @user, :profile_image, fallback: "no_image.jpg", class: "round-img" %>  
        </div>
        <div class="col-7">
          <table class="table d-inline">
            <tr>
            <td class="h4">
              <strong><%= @user.name %></strong>
            </td>  
              <% if @user.id == current_user.id %>
              <td class="h4">
                <%= @user.email %>
              </td>
              <td>
              <%= link_to "レビュー投稿する",new_post_path, class: "btn btn-success" %></h4>
              </td>
              <% end %>
            </tr> 
          </table>
        </div>  
      </div>
    </div>
  </div>
</section>


