<h4 class="mt-4"><strong>カテゴリー</strong></h4>
<table class="table">
  <tbody>
    <% categories.each do |category| %>
      <tr>
        <td style="text-align: left; color: #583822;">
          <%= link_to category.name, posts_path(parent_type: "category", parent_id: category.id), method: :get, class: "text-decoration-none text-dark" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<h4 class="mt-2"><strong>肌悩み</strong></h4>
<table class="table">
  <tbody>
    <% skin_concerns.each do |skin_concern| %>
      <tr>
        <td style="text-align: left; color: #583822;">
          <%= link_to skin_concern.name, posts_path(parent_type: "skin_concern", parent_id: skin_concern.id), method: :get, class: "text-decoration-none text-dark" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
